@use 'mixins' as *;
@use 'variables/colors' as *;
@use 'variables/typography' as *;

.tabs {
  border: 1px solid var(--separator);
  border-radius: 1.8rem;
  margin: 1.5rem 2rem;
  padding: 0.4rem;
  position: relative;

  @include font($font-caption);

  &__container {
    display: flex;
    gap: 0.4rem;
    pointer-events: all;
    position: relative;
    z-index: 1;
  }

  &__button {
    border-radius: 1.6rem;
    color: var(--main-color);
    padding: 0.6rem 1.2rem;
    text-align: center;
    text-decoration: none;
    width: calc(50% - 0.4rem / 2);

    > span {
      opacity: 0.5;
    }

    &.active {
      > span {
        opacity: 1;
      }
    }
  }
}

.tab {
  background: var(--separator);
  border-radius: 1.6rem;
  height: calc(100% - 0.8rem);
  position: absolute;
  top: 0.4rem;
  transition: left .5s cubic-bezier(.35,0,.25,1);
}

:host.navbar {
  .tabs {
    $navbar: &;

    background-color: var(--separator);
    border: none;
    border-radius: 4.9rem;
    margin: 0 auto;
    padding: 0.4rem;
    width: fit-content;

    .icon {
      background-color: var(--main-color);
      height: 2.3rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2.3rem;
    }

    &__button {
      height: 4.5rem;
      position: relative;
      width: 4.5rem;
    }
  }

  .tab {
    background-color: #fff;
    border-radius: 50%;
    height: 4.5rem;
    top: 0.4rem;
  }
}

:host-context(.dark-theme) :host.navbar .tabs__container {
  mix-blend-mode: difference;
}

