.card {
  background: var(--background);
  border-radius: 2rem;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='350' height='585' viewBox='0 0 350 585' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_678_250)'%3E%3Ccircle cx='69' cy='286' r='99' fill='%23FD2500' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_678_250' x='-230' y='-13' width='598' height='598' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_678_250'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 80%;
    left: 0;
    position: absolute;
    top: 10%;
    width: min(28rem, 80%);
  }

  &__interface {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    position: relative;
    width: 100%;
    z-index: 1;

    h1 {
      margin-bottom: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
  }

  &__buttons-container {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
    margin-top: auto;
    padding-top: 0.8rem;
  }
}

:host-context(.light-theme) {
  .card::before {
    content: none;
  }
}

app-match {
  background-color: var(--background);
  height: 100%;
  inset: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
