<div>
  <div>
    <app-button class="back" [style]="'secondary'" iconPath="assets/media/icons/arrowRight.svg" (click)='close()'/>
  </div>
</div>

<div class='content' [ngClass]="{ 'content': true, 'content_preview-opened': isPreviewOpen }">
  <div class='settings'>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class='settings__header'>
        <div>
        </div>
        <div class='profile' (click)='openPreview()'>
          <app-userpic class='profile__picture' [path]="user.photo"></app-userpic>
          <div class='profile__name'>{{ user.nickname }}</div>
        </div>
        <div>
          <app-button *ngIf="form.touched" class='profile__submit secondary' text='Сохранить' type='submit'  [isDarkTheme]='true'/>
        </div>
      </div>
      <div class='settings__fields'>
          <app-input-text class='settings__input' label="Имя" [control]='form.controls["name"]'></app-input-text>
          <app-input-text class='settings__input' label="Обо мне" [textarea]='true' [control]='form.controls["about"]'></app-input-text>
          <app-input-text class='settings__input' type="number" label="Возраст" [control]='form.controls["age"]'></app-input-text>
      </div>
    </form>
  </div>
</div>

<div [ngClass]='{ preview: true, preview_open: isPreviewOpen }'>
  <app-profile-view [profile]="userPreview" [previewMode]="true" (clickBackEvent)='closePreview()'></app-profile-view>
</div>
