<app-button class="back" iconPath="assets/media/icons/arrowRight.svg" (click)='close()'/>

<div class='settings'>
  <div class='settings__header'>
    <div>
    </div>
    <div class='profile'>
      <app-userpic class='profile__picture' [path]="user.photo"></app-userpic>
      <div class='profile__name'>{{ user.nickname }}</div>
    </div>
    <div>
      <app-button class="eye" iconPath="assets/media/icons/eye.svg" [isDarkTheme]='true' (click)='openPreview()'/>
    </div>
  </div>
  <div class='settings__fields'>
    <app-input-text class='settings__input' label="Имя"></app-input-text>
    <app-input-text class='settings__input' label="Обо мне" [textarea]='true'></app-input-text>
    <app-input-text class='settings__input' type="number" label="Возраст"></app-input-text>
  </div>
</div>

<div class='preview' *ngIf='isPreviewOpen'>
  <app-profile-view [profile]="userPreview" (clickBackEvent)='closePreview()'></app-profile-view>
</div>
