<div class='content' [ngClass]="{ 'content': true, 'content_preview-opened': isPreviewOpen }">
  <div *ngIf='user' class='settings'>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class='settings__header'>
        <div>
        </div>
        <div class='profile' (click)='openPreview()'>
          <app-userpic class='profile__picture' [path]="user.photo"></app-userpic>
          <div class='profile__name'>{{ '@' + user.nickname }}</div>
        </div>
        <div>
          <app-button *ngIf="form.dirty" class='profile__submit' text='Сохранить' type='submit' [isDarkTheme]='true'/>
        </div>
      </div>
      <div class='settings__fields'>
          <app-input-text class='settings__input' label="Имя" [control]='form.controls["name"]'></app-input-text>
          <app-input-text class='settings__input' [placeholder]='placeholder' label="Обо мне" [textarea]='true' [control]='form.controls["about"]'></app-input-text>
          <app-input-text class='settings__input' type="number" label="Возраст" [control]='form.controls["age"]' [max]='2'></app-input-text>
      </div>
    </form>
  </div>
</div>

<div *ngIf='user && isPreviewOpen' class='preview'>
  <app-profile-view [profile]="userPreview" [previewMode]="true" (clickBackEvent)='closePreview()'></app-profile-view>
</div>
