@use 'variables/global';

:host {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: global.$max-width;
  width: 100%;
}

.navbar {
  bottom: 2rem;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}
