:host {
  background: var(--background);
  display: block;
  height: 100%;
  position: relative;
  z-index: 2;
}

.back-button {
  margin: 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.like-button {
  margin: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.profile {
  &__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 34rem;
    width: 100%;
  }

  &__description {
    margin: 2rem;
  }
}
