<div class='interface'>
  <div>
    <div class='interface__buttons-container'>
      <app-button *ngIf="profile.like && profile.likesYou" class="card__button-message" [style]='ButtonStyleType.primary' [darkMode]='true' [size]='ButtonSizeType.large' [iconPath]="'assets/media/icons/message.png'" (clickEvent)='openChat()'/>
      <app-button *ngIf="!previewMode" [appLikeButton]='profile' class="like-button" (clickEvent)='like()'/>
    </div>
  </div>
</div>

<div class='content'>
  <div class='profile'>
    <div class="profile__photo" [style.background-image]="'url(' + profile.photo + ')'"></div>
    <div class="profile__description">
      <h1>{{ cardTitle }}</h1>
      <p>{{ profile.about }}</p>
    </div>
  </div>
</div>
