@use 'variables/global';

:host {
  background: var(--background);
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: global.$max-width;
  position: relative;
  z-index: 2;
}

.interface {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;

  > div {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    position: sticky;
    top: 0;

    > * {
      pointer-events: all;
    }
  }
}

.interface__buttons-container {
  display: flex;
  gap: 1.2rem;
  margin: 2rem;
}

.content {
  height: 100%;
  overflow: scroll;
}

.profile {
  padding-bottom: global.$bottom-offset;

  &__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 34rem;
    width: 100%;
  }

  &__description {
    margin: 2rem;

    p {
      white-space: pre-line;
    }
  }
}

app-match {
  background-color: var(--background);
  height: 100%;
  left: 0;
  padding: 2rem 4rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
