<div *ngIf="user?.hub" class="find-yours">
  <h1 class="title">Найти своих в&nbsp;{{ user.hub?.hubName }}</h1>
  <swiper-container
    #swiper
    centered-slides="true"
    initial-slide="1"
    slides-per-view="auto"
    space-between="-12"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
    init="false"
  >
    <swiper-slide *ngFor="let card of userCards; index as i" [class]="{ 'swiper-slide-active': i === 1}">
      <div class="card">
        <div class="card__interface">
          <div class="name">
            <h3>{{cardTitle(card)}}</h3>
          </div>
          <app-button class="card__button" [style]="ButtonStyleType.secondary" [iconPath]="'assets/media/icons/arrowRightLarge.svg'" [link]="[ '/navigator', card.id]"></app-button>
        </div>
        <div class="card__background" [style.background-image]="'url(' + card.photo + ')'"></div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
