@font-face {
  font-family: GraphikLC;
  src: url('../assets/fonts/Graphik_LC/Graphik_LC_Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GraphikLC;
  src: url('../assets/fonts/Graphik_LC/Graphik_LC_Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
