@font-face {
  font-family: GraphikLC;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Graphik_LC/Graphik_LC_Regular.ttf');
}

@font-face {
  font-family: GraphikLC;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Graphik_LC/Graphik_LC_Medium.ttf');
}
