@use 'mixins' as *;
@use 'variables/variables' as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  text-size-adjust: 100%;
}


body {
  --acsent-color: #{$ferrari-red};

  background-color: var(--background);
  color: var(--main-color);
  display: grid;
  font-family: GraphikLC, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: 100%;
  line-height: 2rem;
  margin: 0;
  overflow: hidden;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

a:link,
a:visited {
  text-decoration: none;
}

.light-theme {
  --background: #fff;
  --main-color: #000;
  --main-color-30: rgb(0 0 0 / 30%);
  --main-color-50: rgb(0 0 0 / 50%);
  --separator: #{$cultured};
}

.dark-theme {
  --background: #000;
  --main-color: #fff;
  --main-color-30: rgb(255 255 255 / 30%);
  --main-color-50: rgb(255 255 255 / 50%);
  --placeholder: #abaaaa;
  --separator: #{$chinese-black};
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  @include font($font-h1);
}

h1 + p {
  margin-top: 0.8rem;
}

h2 {
  @include font($font-h2);

  letter-spacing: -0.32px;
}

h3 {
  @include font($font-h3);
}
