.navbar {
  $navbar: &;

  background-color: var(--separator);
  border-radius: 4.9rem;
  margin: 0 auto;
  padding: 0.4rem;
  width: fit-content;

  .icon {
    background-color: var(--main-color);
    height: 2.3rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.3rem;
  }

  & > div {
    display: flex;
    position: relative;
  }

  .tab-line {
    background-color: #fff;
    border-radius: 50%;
    height: 4.5rem;
    left: 0;
    position: absolute;
    width: 4.5rem;
  }

  &__button {
    height: 4.5rem;
    position: relative;
    width: 4.5rem;

    &.active {
      background: #fff;
      border-radius: 50%;
    }
  }
}

.dark-theme .navbar .icon {
  mix-blend-mode: difference;
}
