:host {
  align-items: center;
  background: var(--background);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.loader {
  animation: rotate 1s linear infinite;
  border-radius: 50%;
  display: inline-block;
  height: 4.8rem;
  position: relative;
  width: 4.8rem;

  &::before {
    animation: fill-animation 2s linear infinite;
    border: 0.5rem solid var(--acsent-color);
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    inset: 0;
    position: absolute;
  }
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes fill-animation {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
