@use 'variables/global';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards-container {
  flex-grow: 1;
  height: 100%;
  overflow: scroll;
  position: relative;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
