<div *ngIf="label" class='label'>{{ label }}</div>

<div *ngIf='textarea; else input' class='textarea-wrapper'>
  <textarea #textareaEl [class]='["input", "input_textarea"]' [placeholder]='placeholder' [formControl]="control" (input)="onChange()"></textarea>
  <span class='input__counter'>{{ length + '/' + max }}</span>
</div>

<ng-template #input>
  <input [attr.appNumbersOnly]="type === 'number'" class='input' [type]='type' [placeholder]='placeholder' [formControl]="control" (input)="onChange()">
</ng-template>
