<div *ngIf="label" class='label'>{{ label }}</div>

<div *ngIf='textarea; else input' class='textarea-wrapper'>
  <textarea #textareaEl
            [class]='["input", "input_textarea"]'
            [formControl]="control"
            [maxlength]='max'
            (input)="onChange()"
            [placeholder]='placeholder'
  ></textarea>
  <span class='input__counter'>{{ length + '/' + max }}</span>
</div>

<ng-template #input>
  <input class='input'
         type='text'
         [maxlength]='max'
         [formControl]="control"
         (input)="onChange()"
          [placeholder]='placeholder'
         [attr.inputmode]="type === 'number' ? 'numeric' : null"
         [attr.pattern]="type === 'number' ? '[0-9]*' : null"
  />

</ng-template>
