@use 'mixins';
@use 'variables/typography';

.profile {
  display: flex;
  margin: 2rem;

  &__picture {
    background-color: var(--separator);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
  }

  &__name {
    margin-left: 0.8rem;
    margin-top: 0.9rem;
  }
}

.author {
  @include mixins.font(typography.$font-h3);

  display: flex;
  font-weight: 500;
  margin-bottom: 0.5rem;

  .icon {
    background-color: var(--main-color);
    height: 1.4rem;
    margin-left: 0.6rem;
    width: 1.4rem;
  }
}

.status {
  @include mixins.font(typography.$font-caption);

  color: var(--main-color-50);
}
