@use 'mixins' as *;
@use 'variables/colors' as *;
@use 'variables/typography' as *;

.stats {
  background: var(--separator);
  border-radius: 1.2rem;
  cursor: pointer;
  display: block;
  margin: 2rem;
  padding: 2rem 1.6rem;

  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &__title {
    display: flex;
    font-weight: 500;
    justify-content: space-between;

    .icon {
      background-color: var(--main-color);
      height: 14px;
      width: 14px;
    }
  }

  &__description {
    @include font($font-caption);

    color: var(--main-color-50);
    margin-top: 0.5rem;
  }

  &__progress {
    background-color: var(--background);
    border-radius: 0.4rem;
    height: 8px;
    margin-top: 1.6rem;
    position: relative;

    &::before,
    &::after {
      background: var(--acsent-color);
      border-radius: 0.4rem;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(1% * var(--percentage));
    }

    &::before {
      filter: blur(5px);
    }
  }
}
