@use 'mixins' as *;
@use 'variables/colors' as *;
@use 'variables/global' as *;
@use 'variables/typography' as *;

:host {
  display: block;
  height: 100%;
}

.cards-stack {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  padding: 2rem 0 9rem;
  position: relative;

  &__container {
    height: 100%;
    max-height: 63rem;
    position: relative;
    width: calc(100% - 4rem);
    z-index: 1;
  }

  &__card {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translate3d(0, 0, 0) scale(0.8);
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    z-index: 1;

    &.prev,
    &.next,
    &.active {
      opacity: 1;
      visibility: visible;
    }

    &.prev {
      opacity: 0.5;
      transform: rotate(-10deg) scale(0.8) translate3d(-20%, -5%, 0);
    }

    &.next {
      opacity: 0.5;
      transform: rotate(8deg) scale(0.8) translate3d(20%, 5%, 0);
    }

    &.active {
      transform: rotate(0) scale(1) translate3d(0, 0, 0);
      z-index: 3;
    }
  }
}

