<div class="cards-stack">
  <swiper-container
    #swiperRef
    centered-slides="true"
    slides-per-view="auto"
    effect="cards"
    grab-cursor="true"
    init="false"
  >
    <swiper-slide *ngFor="let card of userCards; index as i">
      <a class="card" [routerLink]="card.id.toString()">
        <div class="card__background" [style.background-image]="'url(' + card.photo + ')'"></div>
        <div class="card__interface">
          <h1>{{cardTitle(card)}}</h1>
          <p>{{ card.about }}</p>
          <app-button class="like card__button" [style]='"primary"' [iconPath]="card.like ? 'assets/media/icons/starFilled.png' : 'assets/media/icons/star.png'" />
        </div>
      </a>
    </swiper-slide>
  </swiper-container>
</div>
