@use 'mixins';
@use 'variables/typography';

.about {
  background: var(--separator);
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem 1.6rem;

  &:link,
  &:visited {
    color: inherit;
  }

  &__button {
    align-self: flex-end;
    margin-bottom: -0.3rem;
  }

  &__title {
    display: flex;
    font-weight: 500;
    justify-content: space-between;;
  }

  &__description {
    @include mixins.font(typography.$font-caption);

    color: var(--main-color-50);
    margin-top: 0.9rem;
    max-width: 22.5rem;

    .emoji {
      color: var(--main-color);
    }
  }
}
